/* LifeAtColoredCow.css */
.life-at-coloredcow {
    padding: 50px 20px;
    background-color: #eef3f7;
    text-align: center;
  }
  
  .video-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .nine h2 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family:"Playfair Display", serif; font-weight:400;
  }
  .nine h2 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h2 span:after,.nine h2 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }

  
  .video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  